@import url('https://fonts.googleapis.com/css2?family=Hanken+Grotesk:wght@500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Hanken Grotesk" , sans-serif;
}

body{
    min-height: 100vh;
    justify-content: center;
    display: flex;
    align-items: center;
    background-color: hsl(221, 100%, 96%);
}

.card{
    box-shadow: rgba(0,0,0,.25) 0px 3px 8px;
    border-radius: 2rem;
    width: 650px;
    background-color: hsl(0, 0%, 100%);
}

.card-container{
    display: flex;
    justify-content: space-between;
}

.result{
    width: 50%;
    padding: 1.5rem 2rem;
    border-radius: 2rem;
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.circle{
    border-radius: 50%;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1),hsla(241, 72%, 46%, 0));
    width: 200px;
    height: 200px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1rem;
}

.circle h1{
    color: white;
    font-size: 3.5rem;
}

.circle p{
    color: hsl(241, 100%, 89%);
}

.title{
    color: hsl(241, 100%, 89%);
    margin-bottom: 1rem;
}

.result b{
    color: white;
    font-size: 1.7rem;
}

.content{
    color:hsl(241, 100%, 89%) ;
    width: 200px;
    margin-bottom: 1rem;
}

.summary{
    width: 50%;
    padding: 1.5rem 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.title2{
    color: black;
    font-size: 800;
}

.sections{
   display: flex;
   gap: .8rem;
   flex-direction: column;
}

.section{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.5rem 1rem;
    border-radius: 1rem;
}
.icon{
    display: flex;
    justify-content: center;
    gap: .5rem;
}

.section:nth-child(1){
    background-color: hsla(0, 100%, 67%,.2);
}

.section:nth-child(1) .icon b{
    color: hsl(0, 100%, 67%);
}

.section:nth-child(2){
    background-color: hsla(39, 100%, 56%,.2);
}

.section:nth-child(2) .icon b{
    color: hsl(39, 100%, 56%);
}

.section:nth-child(3){
    background-color: hsla(166, 100%, 37%,.2);
}

.section:nth-child(3) .icon b{
    color: hsl(166, 100%, 37%);
}

.section:nth-child(4){
    background-color: hsla(234, 85%, 45%,.2);
}

.section:nth-child(4) .icon b{
    color: hsl(234, 85%, 45%);
}

.btn{
    height: 50px;
    margin-top: 1rem;
    background-color: hsl(224, 30%, 27%);
    border-radius: 3rem;
    color: white;
    font-size: 1rem;
    border: none;
}

.btn:hover{
    background: linear-gradient(to bottom, hsl(252, 100%, 67%), hsl(241, 81%, 54%));
    cursor: pointer;
}

@media screen and (max-width:650px){
    body{
        align-items: flex-start;
        color: white;
    }
    .card{
        box-shadow: none;
    }
    .card-container{
        flex-direction: column;
    }
    .result{
        width: 100%;
        border-radius: 0 0 1rem 1rem;
    }
    .content{
        width: 250px;
    }
    .summary{
        width: 100%;
    }
}

